# Code/Formatting
jupyter
nbformat
quarto

#API
openmeteo_requests
requests_cache
retry_requests

# Data Processing
scikit-learn
statsmodels
numpy
pandas


# Data Visualization
matplotlib
seaborn

# Application
pySimpleGUI

